.navbar-brand img {
    filter: brightness(0%) invert();
    height: 50px;
}
.d-flex label{
    white-space: nowrap;
}
.form-control:not(textarea, [type="number"]), .form-select {
    max-width: fit-content;
}
.form-control::placeholder {
    color: rgba(34, 34, 34, 0.75);
}
table{
    border-collapse: collapse;
}
table, thead, th, td:first-child, td.bg-warning, td.bg-info{
    border: 2px solid black;
}
table div.fw-bolder{
    font-size: 1.2em;
}
table div.text-end{
    font-size: 0.8em;
}