article {
    width: 40%;
}
body>div {
    justify-content: center;
}
#resultado2{
    display: flex;
    flex-wrap: wrap;
}
#resultado2 > ol, #resultado2 > form{
    flex: 30%;
}
#resultado2 > form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#resultado2 > form > label{
    display: flex;
    flex-direction: column;
    align-items: center;
}
li ul {
    list-style: square;
}