article {
    flex: 25%;
}

#cv {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#cv > img{
    width: 80%;
    border-radius: 50px;
}

#datosContacto p {
    display: flex;
    align-items: center;
}

#datosContacto p img {
    height: 50px;
}

#datosContacto > img {
    width: 65%;
    border-radius: 50px;
}

.centrar{
    text-align: center;
}